conf/environments/rooms.txt
swarmulator
*logs*/
conf/*.txt
conf/environments/random.txt
build/
*.o
state_action_matrix_free_test*.txt
state_action_matrix*.txt
.vscode/
Doxyfile
dox/
html/
latex/
gen*
neat
statout
build-swarmulator-Desktop-Debug/
sw/window/swarmulator.pro.user
sw/window/swarmulator_window.h.autosave
sw/build-swarmulator-Desktop-Debug
script.sh
docs/
logo_small.png
mat/
conf/state_action_matrices
conf/parameters.xml