swarmulator
*logs*/
conf/*.xml
conf/*.txt
parameters.*
build/
*.o
state_action_matrix_free_test*.txt
state_action_matrix*.txt
.vscode/
Doxyfile
dox/
html/
latex/
gen*
neat
statout
build-swarmulator-Desktop-Debug/
sw/window/swarmulator.pro.user
sw/window/swarmulator_window.h.autosave
sw/build-swarmulator-Desktop-Debug
script.sh
